.new-expense {
    background-color: #011c31;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
}

.new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #4531b7;
    background-color: #023859;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
    background-color: #2169cd;
    border-color: white;
}

.new-expense button.alternative {
    color: white;
    border-color: #eeed9c;
    background-color: #ab2a06;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
    background-color: #706507;
}
