@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', 'Poppins';
}

header {
  font-size: xx-large;
  text-align: center;
  color: aqua;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

code {
  font-family: 'Rajdhani', Consolas, monospace;
  font-weight: bolder;
  color: #d9d955;
  background-color: black;
}
